{% extends 'layoutVERSAOpt.html' %}

{% block body %}

<div style="font-size: 18px; line-height: 1.5em; padding: 20px;">
    
    <p><strong>Termo em Português:</strong> {{description}}</p>

    <p><strong>Descrição:</strong> {{value["descricao"]}}</p>

    <p><strong>Termo em Inglês:</strong> {{value["ingles"]}}</p>

    <p><strong>Termo em Espanhol:</strong> {{value["espanhol"]}}</p>

    <p><strong>Termo em Alemão:</strong> {{value["alemao"]}}</p>

    <p><strong>Termo em Italiano:</strong> {{value["italiano"]}}</p>


</div>

{% endblock %}